@import '/src/theme/main.scss';

.button {
  background-color: $color-button;
  border: none;
  border-radius: .25rem;
  color: $color-white;
  height: 2rem;
  width: 7rem;

  &:hover {
    cursor: pointer;
    background-color: rgba($color-button, .91);
  }
}
