.frame {
  border: none;
  width: 100%;
  height: 100%;
  &::hover {
    cursor: pointer;
  }

  &Wrapper {
    position: relative;
    width: 100%;
    height: calc(32vw*16/9);
    max-height: 65vh;
  }

  &Inner {
    width: 100%;
    height: 100%;
    // top: -2rem;
  }
}
