@import '/src/theme/variables.scss';

.header  {
  width: 100%;
  background-color: rgb(105, 70, 88);

  &Image{
    height: 8rem;
    background-color: rgb(221, 179, 207);
  }
}

.name {
  color: $color-white;
  &Wrapper>span {
    display: block;
  }
}

.statusIndicator {
  display: inline-block;
  width: .6rem;
  height: .6rem;
  border-radius: 50%;
  margin-right: .125rem;
}

.online  {
  background-color: #32D44C;
}
.offline {
  background-color: #d43232;
}
.info {
  min-width: 4rem;
  &Bar {
    display: flex;
    flex-direction: row;
    // flex-wrap: wrap;
    align-items: center;
    height: 3rem;
  }
}

.buttonWatch {
  margin: 0 .5rem 0 auto;
}

.avatarRound {
  border-radius: 50%;
  left: .25rem;
  margin: 0 .5rem;
  display: block;
  background-color: rgb(167, 126, 126);
  width: 7rem;
  height: 7rem;
  flex-shrink: 0;
  z-index: 10;
}

.description {
  padding: 3rem 1rem 1rem 1rem;
  // position: relative;
}