@import '/src/theme/variables.scss';

.chat {
  overflow: hidden;
  display: flex;
  flex: 1 1 30%;
  position: relative;
  // border-left: 3px solid $color-button;

  &Wrapper {
    color: $color-white;
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 1rem;
    margin-top: -1rem;
    width: 100%;
    max-height: 40vh;
    // overflow: hidden;
  }

  &Message {
    background-color: $color-button;
    margin: 1rem 0;
    padding: 1rem;
    border-radius: .5rem;
    // max-width: 100%;
    // text-overflow: clip;
    word-break: break-all;
    word-wrap: break-word;
  }
} 